.itemsBtn {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.itemsBtn input {
  width: 40%;
  border: 2px solid black;
  padding: 5px 10px;
  margin: 4px;
}
.itemsBtn button {
  border: 2px solid black;
  padding: 3px 10px;
  margin: 4px;
  background-color: transparent;
  font-size: 1.1rem;
  transition: all 200ms ease-in-out;
}
.itemsBtn button:hover {
  background-color: black;
  color: white;
}