.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.product {
  border-radius: 15px;
  width: 300px;
  height: 450px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  overflow: hidden;
  padding: 25px;
}
img {
  width: 250px;
  border-radius: 15px;
}
.description {
  width: 85%;
  display: flex;
  flex-direction: column;
}
.add {
  display: flex;
  justify-content: space-between;
}

.AddToCart{
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: transparent;
  font-size: 0.9rem;
  transition: all 200ms ease-in-out;
}
.AddToCart:hover{
  background-color: black;
  color: white;
}
